{% extends '@App/base.html.twig' %}

{% block title %}Contacto{% endblock %}

{% block content %}

	<div class="container mt-5">
		<div class="row">
			<!-- /.col-md-6 -->
      <div class="col-md-6 mb-5">
        <div class="card h-100">
          <div class="card-body">
						<iframe width="500" height="400" id="gmap_canvas" src="https://maps.google.com/maps?q=cifp%20a%20carballeira&t=k&z=19&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
          </div>
        </div>
      </div>
			<!-- /.col-md-6 mb-5 -->
      <div class="col-md-6 mb-5">
        <div class="card h-100">
          <div class="card-body">
            <h2 class="card-title">Donde encontrarnos</h2>
            <p>
							El BARdeSuSHI estuvo un tiempo en la plaza de la legión y volvió a sus orígenes, bajo el restaurante <i>IEFP Marcos Valcarcel</i>, en un espacio muy atractivo.
						</p>
						<p>
							Su gastronomía se basa en productos de máxima calidad. Una cocina a la vista que combina vapor y comida japonesa al momento, desde hace 20 años.
						</p>
						<p>
							Su combinación de mesas largas para compartir, mesas individuales y barra hacen de El Japonés un sitio amable.
							Además. disponemos de una lujos barra de coctelería para la espera.</p>
          </div>
          <div class="card-footer">
            <a href="#" class="btn btn-sm btn-outline-secondary">+34 788 78 84 70</a>
						<a href="#" class="btn btn-sm btn-outline-secondary">+34 788 78 84 72</a>
						<a href="#" class="btn btn-sm btn-outline-secondary">info@bardesushi.com</a>
          </div>
        </div>
      </div>
		</div>
	</div>

{% endblock %}